<div class="row-fluid">
    <div class="span6">
        <div class="pagination">
            <?php printf($this->translate('Showing %d to %d of %d items'), $this->firstItemNumber, $this->lastItemNumber, $this->totalItemCount); ?>
        </div>
    </div>
    <div class="span6">
        <?php
        echo $this->partial('partial/bootstrap/2/paginator', array(
            'align' => 'right',
            'pageCount' => $this->pageCount,
            'previous' => $this->previous,
            'params' => $this->params,
            'next' => $this->next,
            'pagesInRange' => $this->pagesInRange,
            'current' => $this->current,
            'route' => $this->route
        ));
        ?>        
    </div>
</div>   