<?php
    $itemsIsInstanceOfPaginator = ($items instanceof \Zend\Paginator\Paginator);
    $hasGroupActions = isset($args['actions']['group']);
?>
<div class="data-table" id="data-table-<?php echo $args['id']; ?>">
    <?php if (isset($args['actions']['add']) || $hasGroupActions || (isset($args['filters']) && $args['filters'])): ?>
        <div class="row-fluid data-table-actions">
            <div class="span6">
                <?php if (isset($args['actions']['add'])):
                    $addLink = $args['actions']['add'];

                    $isAllowed = true;

                    if(is_array($addLink) && array_key_exists('resource', $addLink)):
                        if(array_key_exists('privilege', $addLink)):
                            $isAllowed = $this->isAllowed($addLink['resource'], $addLink['privilege']);
                        else:
                            $isAllowed = $this->isAllowed($addLink['resource']);
                        endif;
                    endif;

                    if ($isAllowed):
                        $label = $addLink['label'];

                        $attributes = $addLink['attributes'];

                        if(!isset($attributes['class'])){
                            $attributes['class'] = '';
                        }

                        $attributes['class'] .= ' btn btn-primary';

                        if(!isset($attributes['data-rel'])){
                            $attributes['data-rel'] = 'add';
                        }

                        $icon = 'plus icon-white';

                        echo $this->bootstrapHtmlLink($label, $attributes, $icon);
                    endif;
                    ?>
                <?php endif; ?>
                <?php if (isset($args['actions']['group']) && !empty($args['actions']['group'])): ?>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn"><?php echo $this->translate('Group actions'); ?></button>
                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu group-actions">
                            <?php foreach ($args['actions']['group'] as $key => $link):
                                if(!$link)
                                    continue;

                                $isAllowed = true;

                                if(is_array($link) && array_key_exists('resource', $link)):
                                    if(array_key_exists('privilege', $link)):
                                        $isAllowed = $this->isAllowed($link['resource'], $link['privilege']);
                                    else:
                                        $isAllowed = $this->isAllowed($link['resource']);
                                    endif;
                                endif;

                                if ($isAllowed): ?>
                                <li><?php echo $this->bootstrapHtmlLink($link['label'], $link['attributes']); ?></li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endif; ?>
            </div>
            <div class="span6">
                <?php if (isset($args['filters'])): ?>
                    <a class="pull-right data-table-filters-link" href="#"><?php echo $this->translate('Filters'); ?></a>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
    <?php if (isset($args['filters'])): ?>
        <div class="data-table-filters hide">
            <?php echo $this->partial($args['filters']['partial'], $args['filters']['variables'] + array('params' => $params, 'matchedRouteName' => $matchedRouteName)); ?>
        </div>
    <?php endif; ?>
    <?php if ($args['search'] || $itemsIsInstanceOfPaginator): ?>
    <div class="row-fluid">
        <div class="span6">
            <?php if ($itemsIsInstanceOfPaginator):
                ob_start(); ?>
                <select class="data-table-rows-per-page" style="width:auto !important;">
                    <?php foreach($args['items_per_page_values'] as $rowsPerPage): ?>
                    <option <?php if(isset($params['matched']['per_page']) && $rowsPerPage == $params['matched']['per_page']): ?>selected="selected"<?php endif; ?> value="<?php echo $rowsPerPage ?>"><?php echo $rowsPerPage ?></option>
                    <?php endforeach; ?>
                </select>
                <?php
                $select = ob_get_contents();
                ob_end_clean();
                printf($this->translate('Show %s items'), $select);
                ?>
            <?php endif; ?>
        </div>
        <div class="span6">
            <?php if ($args['search']): ?>
                <form class="form-search pull-right data-table-search">
                    <div class="input-append">
                        <input class="search-query" required type="text" onchange="try{setCustomValidity('')}catch(e){}" oninvalid="setCustomValidity('<?php echo $args['search_pattern_invalid']; ?>')" pattern="<?php echo $args['search_pattern']; ?>" placeholder="<?php echo $args['search']; ?>" value="<?php echo isset($params['matched']['s']) ? $params['matched']['s'] : ''; ?>">
                        <?php if(array_key_exists('s', $params['matched'])): ?>
                        <a class="btn" href="<?php echo $this->url($matchedRouteName, $params['basic']) ?>" title="<?php echo $this->translate('Cancel search'); ?>"><i class="icon-remove"></i></a>
                        <?php else: ?>
                        <button class="btn"><i class="icon-search"></i></button>
                        <?php endif; ?>
                    </div>
                </form>
            <?php endif; ?>
        </div>
    </div>
    <?php endif; ?>
    <?php ob_start(); ?>
    <tr>
        <?php if($hasGroupActions): ?>
        <th class="data-table-column-check"><input type="checkbox" class="check-all" /></th>
        <?php endif; ?>
        <?php foreach ($args['columns'] as $key => $field): ?>
            <th class="<?php echo isset($field['class']) ? $field['class'] : "column-{$key}"; ?>">
                <?php echo $field['label']; ?>
            </th>
        <?php endforeach; ?>
        <?php if (!empty($args['actions']['options'])): ?>
            <th class="column-options"><?php echo $this->translate('Options') ?></th>
        <?php endif; ?>
    </tr>
    <?php
    $tHeader = ob_get_contents();
    ob_end_clean();
    ?>
    <form class="data-table-form <?php echo is_null($args['table_container_class']) ? '' : $args['table_container_class']; ?>" action="<?php echo $_SERVER['REQUEST_URI'] ?>" method="post">
        <table class="<?php echo isset($args['table_class']) ? $args['table_class'] : ''; ?>">
            <?php if (isset($args['caption'])): ?>
                <caption><?php echo $args['caption']; ?></caption>
            <?php endif; ?>
            <thead>
                <?php echo $tHeader; ?>
            </thead>
            <tbody>
                <?php
                if ((is_array($items) && !empty($items)) || (is_object($items) && $items->count() > 0)):
                    foreach ($items as $item):
                        switch ($args['extract_type']) {
                            case 'object_property':
                                $itemId = $item->{$args['object_id']};
                                $isMethod = false;
                                break;
                            case 'class_methods':
                                $itemId = $item->{'get' . ucfirst($args['object_id'])}();
                                $isMethod = true;
                                break;
                        }
                        ?>
                        <tr id="data-table-item-<?php echo $itemId; ?>" class="data-table-item <?php echo is_null($args['table_row_class']) ? '' : call_user_func($args['table_row_class'], $item); ?>" valign="top">
                            <?php if($hasGroupActions): ?>
                            <td class="data-table-column-check"><input type="checkbox" name="id[<?php echo $itemId; ?>]" value="<?php echo $itemId; ?>" /></td>
                            <?php endif; ?>
                            <?php foreach ($args['columns'] as $key => $field): ?>
                                <?php
                                if(property_exists($item, $key)){
                                    switch ($args['extract_type']) {
                                        case 'object_property':
                                            $output = $item->{$key};
                                            break;
                                        case 'class_methods':
                                            $output = $item->{'get' . ucfirst($key)}();
                                            break;
                                    }
                                } else {
                                    $output = $item;
                                }

                                if (array_key_exists('value_labels', $field)) {
                                    $output = array_key_exists($output, $field['value_labels']) ? $field['value_labels'][$output] : $output;
                                }

                                if (isset($field['callback_method']) && !empty($field['callback_method'])) {
                                    if (is_object($output)) {
                                        $output = call_user_func(array($output, $field['callback_method']));
                                    }
                                } else if (isset($field['callback']) && !empty($field['callback'])) {
                                    foreach ((array) $field['callback'] as $callback) {
                                        $output = call_user_func_array($callback, array($output, $this, $item));
                                    }
                                }
                                ?>
                                <td class="<?php echo isset($field['class']) ? $field['class'] : "data-table-column-{$key}"; ?>"><?php echo $output; ?></td>
                            <?php endforeach; ?>
                            <?php if (!empty($args['actions']['options'])): ?>
                                <td class="data-table-column-options">
                                    <?php foreach ($args['actions']['options'] as $key => $link):
                                        if(!$link)
                                            continue;

                                        $isAllowed = true;

                                        if(is_array($link) && array_key_exists('resource', $link)):
                                            if(array_key_exists('privilege', $link)):
                                                $isAllowed = $this->isAllowed($link['resource'], $link['privilege']);
                                            else:
                                                $isAllowed = $this->isAllowed($link['resource']);
                                            endif;
                                        endif;

                                        if ($isAllowed && (!isset($link['conditional']) || call_user_func($link['conditional'], $item, $this))):
                                            $attributes = $link['attributes'];

                                            if(!isset($attributes['class'])){
                                                $attributes['class'] = '';
                                            }

                                            $attributes['class'] .= ' btn btn-mini';

                                            if(!isset($attributes['data-rel'])){
                                                $attributes['data-rel'] = $key;
                                            }

                                            $attributes['href'] = $this->objectUrl($item, $isMethod, $attributes['href']);

                                            echo $this->bootstrapHtmlLink($link['label'], $attributes, isset($link['icon']) ? $link['icon'] : null);
                                        endif;
                                    endforeach;
                                    ?>
                                </td>
                            <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <tr>
                        <td colspan="<?php echo (count($args['columns']) + 1 + ($hasGroupActions ? 1 : 0)); ?>" class="data-table-column-empty">
                            <?php echo $this->translate('No items were found.'); ?>
                        </td>
                    </tr>
                <?php endif; ?>
            </tbody>
            <?php if ($args['table_foot']): ?>
                <tfoot>
                    <?php echo $tHeader; ?>
                </tfoot>
            <?php endif; ?>
        </table>
    </form>
    <?php
    if ($itemsIsInstanceOfPaginator && $items->count() > 1) {
        echo $this->bootstrapPaginator($items, 'Sliding', 'partial/bootstrap/2/data-table-pagination', array('params' => array_merge($params['basic'], $params['advanced'])));
    }
    ?>
</div>
<?php $this->inlineScript()->captureStart(); ?>
jQuery(document).ready(function($) {
<?php if($hasGroupActions): ?>
    $('#data-table-<?php echo $args['id']; ?> input.check-all').on('click', function(evt) {
        $('#data-table-<?php echo $args['id']; ?> table input[type=checkbox]').prop('checked', $(evt.target).prop('checked'));
    });

    $('#data-table-<?php echo $args['id']; ?> ul.group-actions > li > a').on('click', function(evt) {
        if ($('#data-table-<?php echo $args['id']; ?> table').find('input[type=checkbox]:checked').length > 0) {
            $('#data-table-<?php echo $args['id']; ?> form.data-table-form').attr('action', evt.currentTarget.href).submit();
        }

        return false;
    });
<?php endif; ?>

<?php
    if($itemsIsInstanceOfPaginator):
        $itemsPerPageParams = array('per_page' => ':per_page') + $params['basic'] + $params['advanced'];
    ?>
    $('#data-table-<?php echo $args['id']; ?> select.data-table-rows-per-page').on('change', function(evt){
        window.location.href = '<?php echo urldecode($this->url($matchedRouteName, $itemsPerPageParams)); ?>'.replace(':per_page', evt.currentTarget.value);
    });
<?php endif; ?>

<?php if (isset($args['filters'])): ?>
    $('#data-table-<?php echo $args['id']; ?> a.data-table-filters-link').on('click', function(evt) {
        $('#data-table-<?php echo $args['id']; ?> .data-table-filters').toggleClass('hide');

        return false;
    });
<?php endif; ?>

<?php
    if ($args['search']):
    $searchParams = array('s' => ':s') + $params['basic'] + $params['advanced'];
    ?>
    $('#data-table-<?php echo $args['id']; ?> form.data-table-search').on('submit', function(evt) {
        var s = $(evt.target).find('.search-query');
        var search = s.val();

        if (search.length === 0){
            s.focus();
        } else if (search.length >= <?php echo $args['search_min_length']; ?>) {
            window.location.href = '<?php echo urldecode($this->url($matchedRouteName, $searchParams)); ?>'.replace(':s', encodeURI(search));
        }

        return false;
    });
<?php endif; ?>
});
<?php $this->inlineScript()->captureEnd();