<?php $hasErrors = count($element->getMessages()) > 0; ?>
<div class="form-group<?php echo ($hasErrors ? ' has-error' : ''); ?>">
    <?php
    $labelSize = 4;

    if ($useLabel && $element->getLabel()):
        $required = $element->getAttribute('required') ? ' required' : '';
        ?>
        <label class="col-sm-<?php echo $labelSize; ?> control-label<?php echo $required; ?>" for="<?php echo $element->getAttribute('id'); ?>">
            <?php echo $this->translate($element->getLabel()); ?>
        </label>
    <?php
    endif;

    switch ($element->getAttribute('type')):
        case 'submit':
            $elementContainerClass = 'col-sm-offset-' . $labelSize . ' col-sm-' . (12 - $labelSize);
            break;
        default:
            $elementContainerClass = 'col-sm-' . (12 - $labelSize);
            break;
    endswitch;
    ?>

    <div class="<?php echo $elementContainerClass; ?>">
        <?php if ($addOn = $element->getOption('add_on')): ?>
            <div class="input-group">
                <span class="input-group-add-on"><?php echo $addOn; ?></span>
        <?php endif; ?>

            <?php

            $wrapperOpen = $wrapperClose = '';

            switch ($element->getAttribute('type')):
                case 'submit':
                    $element->setAttribute('class', $element->getAttribute('class'));
                    break;
                case 'multi_checkbox':
                    $wrapperOpen = '<div class="checkbox">';

                    $valueOptions = $element->getValueOptions();

                    foreach($valueOptions as $key => $valueOption) {
                        $valueOptions[$key]['label_attributes'] = array('class' => 'checkbox');
                    }

                    $element->setValueOptions($valueOptions);

                    $wrapperClose = '</div>';
                    break;
                default;
                    $element->setAttribute('class', 'form-control ' . $element->getAttribute('class'));
                    break;
            endswitch;

            echo $wrapperOpen . call_user_func(array($this, 'form' . ucfirst($element->getAttribute('type'))), $element) . $wrapperClose;

            ?>

        <?php if ($addOn): ?>
            </div>
        <?php endif; ?>

        <?php if ($hasErrors): ?>
            <span class="help-block"><?php echo implode('<br />', $element->getMessages()); ?></span>
        <?php endif; ?>

        <?php if ($description = $element->getOption('description')): ?>        
            <span class="help-block"><?php echo $description; ?></span>
<?php endif; ?>
    </div>
</div>